@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 'Poppins', sans-serif;
}
.formSearch{
    position:relative;
    right: 0%;
    top: 0%;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background-color: white;
    border:4px solid white; 
    padding: 5px;
}
input.search{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

form:hover input,
form:focus-within input,
form:valid {
    background: #07051a;
    color: white;
}

.slide-container{
    position: relative;
    z-index: 1;
    padding: 40px;
    margin-inline: 40px;
    width: 100%;
    background-image: url("../images/riz/riz-flou.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;

}

.slide-content{
    margin: 0 40px;
    width: 300px;
}
.fleche{
    animation: clignote 1s infinite;
}
@keyframes clignote{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

.card{
    border: none;
    border-radius: 25px;
    background-color: #020520;
    transition:transform 0.3s;
    border-color: white;
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px;
}
.nav-item:hover{
    border-bottom: blue;
}

.barre{
    position:absolute;
    bottom: -0.25em;
    left: 0em ;
    width: 3em !important;
    height: 0.3em;
    transition: 0.3s ease;
}
.barreEffetAchats{
    background-color: white !important;
    box-shadow: 0px 0px 10px rgb(255, 166, 144),
                0px 0px 20px rgb(103, 108, 114),
                0px 0px 40px rgb(93, 99, 255),
                0px 0px 80px rgb(255, 55, 0);
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 97, 43);
    border-radius: 24px 24px 0 24px;
}
.overlay::before,
.overlay::after{
    content: url('./images/logo.png');
    position: absolute;
    right: 4px;
    bottom: -44px;
    height: 42px;
    width: 42px;
    background-color: rgb(233, 97, 43);
    background-color:white !important;
    border-radius: 50%;

}
.overlay::after{
    border-radius: 0 25px 0 0;
    border-radius: 50%;
    background-color: #020520;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 40%;
    background-color: #FFF;
    padding: 3px;

}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid orangered;

}
.name{
    font-size: 1.8em;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 1.4em;
    color: #707070;
    text-align: center;
}


section{
   display: flex;
   align-items: center;
   justify-content: center; 
   background-color: #EFEFEF;  
}

h1 {
    font-family:Impact sans-serif;
}
.col-md-8{
    display: grid;
    place-items: center;
}
form{
    display: flex;
    flex-direction: row;
}

nav{
    width: 100dvw;
}


.card{
    margin: 0 5px;
}

.container-achats{
    border-top: 2px solid wheat;
    height: 100dvh;
    background-color: bisque;
}
.facture{
    height: 100dvh;
}
.achats{
    height: 100dvh;
}

